.body
{
    /* height: 100%; */
    width: 100%;
    display: flex;
    position:absolute; top:100px; bottom:100px; left:0px; right:0px; overflow:auto;
}

app-leftmenu{
    align-items:  center;
    flex: 1;
    background: violet;
    text-align: center;
}

app-contents{
    align-items:  center;
    text-align: center;
    flex: 8;
    font-size: 20px;
    background: pink;
    overflow-y: auto;
}

app-adv{
    align-items:  center;
    text-align: center;
    flex: 2;
    background: violet;
}